.navbar {
  background-color: #0d6c7e;
  color: #efefef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 3rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 20px;
  color: #efefef;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1rem;
}

.nav-links li a {
  text-decoration: none;
  color: #efefef;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #6ab1bd;
}
